<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>StudTech Intl. - @ViewBag.Title</title>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/themes/admin/node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/themes/admin/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="~/Content/themes/admin/css/style.css" />
    
</head>
<body>
    <div class=" container-scroller">
        <!--Navbar-->
        <nav class="navbar bg-primary-gradient col-lg-12 col-12 p-0 fixed-top navbar-inverse d-flex flex-row">
            
            <div class="navbar-menu-wrapper d-flex align-items-center">
               <h4 style="color:#fff">Admin Portal</h4>
                <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
                  
                    <li class="nav-item">
                      <a href="@Url.Action("Index","Home")" class="nav-link" ><i class="fa fa-home"></i> FrontEnd</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Logout","Login")" class="nav-link"><i class="fa fa-sign-out"></i> Sign-Out</a>
                    </li>
                    
                </ul>
              <br /><br /><br />
            </div>
        </nav>
        <!--End navbar-->
        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-right">
                <nav class="bg-white sidebar sidebar-fixed sidebar-offcanvas" id="sidebar">
                    <div class="user-info">
                        <img src="~/Content/themes/admin/images/StudLogo.png" />
                        <h4 class="text-center">StudTech Intl.</h4>
                    </div>
                    <ul class="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                <i class="fa fa-user "></i>
                                <span class="menu-title"> User List</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/widgets.html">
                                <i class="fa fa-users "></i>
                                <span class="menu-title">Groups</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/forms.html">
                                <i class="fa fa-bullhorn"></i>
                                <span class="menu-title">Announcements</span>
                            </a>
                        </li>
                        
                    </ul>
                </nav>
                <!-- SIDEBAR ENDS -->

                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="float-right">
                            <a href="#">StudTech Intl.</a> &copy; 2017
                        </span>
                    </div>
                </footer>
            </div>
        </div>

    </div>

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
