
@{
    ViewBag.Title = "Quiz";
}

<div class="container">
    <div class="row">

        <div class="container">
            <div class="row">
                <h1>Quiz</h1>
                <p>Choose the correct answer.</p>
                <hr>
            </div>
        </div>

        <p>Fill in the Blanks</p>
        <p>1. _______ be used for many purposes: display maps, scan for viruses, verify your bank id, etc. </p>
        <p>
            @Html.Label("Audio")
            @Html.RadioButton("rating", "Awesome", false)
        </p>
        <p>
            @Html.Label("Media")
            @Html.RadioButton("rating", "Ok", false)
        </p>
        <p>
            @Html.Label("Plug-ins")
            @Html.RadioButton("rating", "Average", false)
        </p>


        <p>2. The easiest way to play videos in HTML, is to use ______ </p>
        <p>
            @Html.Label("Awesome")
            @Html.RadioButton("rating", "Awesome", false)
        </p>
        <p>
            @Html.Label("Ok")
            @Html.RadioButton("rating", "Ok", false)
        </p>
        <p>
            @Html.Label("Average")
            @Html.RadioButton("rating", "Average", false)
        </p>
        <p>
            @Html.Label("Poor")
            @Html.RadioButton("rating", "Poor", false)
        </p>

        <p>Choose the correct anwsers/s. Select one or more answer.</p>
        <p>3. What are the examples of multimedia?</p>
        <p>
            @Html.Label("Videos")
            @Html.CheckBox("Videos", true)
        </p>

        <p>
            @Html.Label("Audio")
            @Html.CheckBox("internet", true)
        </p>

        <p>
            @Html.Label("Camera")
            @Html.CheckBox("poster", false)
        </p>

        <p>4. What are the multimedia formats?</p>
        <p>
            @Html.Label("avi")
            @Html.CheckBox("avi", false)
        </p>

        <p>
            @Html.Label("docx")
            @Html.CheckBox("docx", false)
        </p>

        <p>
            @Html.Label("mp3")
            @Html.CheckBox("mp3", false)
        </p>

        <p>5. What element allows you to play a Youtube video? </p>

        @Html.DropDownList("contactMethod", new List<SelectListItem>
     {
        new SelectListItem{ Text="<iframe>", Value = "phone" },
        new SelectListItem{ Text="<source>", Value = "email" },
        new SelectListItem{ Text="<audio>", Value = "facebook" },
     })
        <br />
        <hr>
        <input type="submit" value="Submit" />

        
    </div>
</div>
